<?xml version="1.0" encoding="utf-8" ?>
<config>
  <URL>http://192.168.91.137:8080/acc/services/ERPService</URL>
  <name>ad</name>
  <password>saw123456</password>
  <clientId>1003</clientId>
  <classes>PART,TIPART</classes>
  <matches>
    <match>
      <baseid>6986</baseid>
      <addkeyvalue>0</addkeyvalue>
      <PlmClass>PART</PlmClass> 
      <fieldvalues>
        <fieldvalue>
          <plmtype>0</plmtype>
          <erpfield>bh</erpfield>
          <plmfield>id</plmfield>
        </fieldvalue>
        <fieldvalue>
          <erpfield>wzmc</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>pp</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>ggxh</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>jldw</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>ckid</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>bjxz</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue> 
        <fieldvalue>
          <erpfield>sta</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>intb</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>wzint001a</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>wzint002a</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>wzint003a</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>wzint005a</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
      </fieldvalues>
    </match>
    <match>
      <baseid>6994</baseid>
      <addkeyvalue>0</addkeyvalue>
      <PlmClass>PART</PlmClass>
      <PlmRelation>
        <RalationName>PARTTOPART</RalationName>
        <RightRelation>PART</RightRelation>
      </PlmRelation>
      <fieldvalues>
        <fieldvalue>
          <plmtype>0</plmtype>
          <erpfield>zs0002a</erpfield>
          <plmfield>id</plmfield>
        </fieldvalue>
        <fieldvalue>
          <erpfield>zs0001a</erpfield>
          <plmfield>id</plmfield>
          <plmtype>3</plmtype>
        </fieldvalue> 
      </fieldvalues>
    </match>
    <match>
      <baseid>6995</baseid>
      <addkeyvalue>0</addkeyvalue>
      <PlmClass>PART</PlmClass>
      <PlmRelation>
        <RalationName>PARTTOPART</RalationName>
        <RightRelation>PART</RightRelation>
      </PlmRelation>
      <fieldvalues>
        <fieldvalue>
          <plmtype>0</plmtype>
          <erpfield>zs0002a</erpfield>
          <plmfield>id</plmfield>
        </fieldvalue>
        <fieldvalue>
          <erpfield>zs003a</erpfield>
          <plmfield>id</plmfield>
          <plmtype>3</plmtype>
        </fieldvalue>
        <fieldvalue>
          <erpfield>sl</erpfield>
          <plmfield>name</plmfield>
          <plmtype>0</plmtype>
        </fieldvalue>
      </fieldvalues>
    </match>
  </matches>
</config>
